HOST=127.0.0.1
PORT=8000
HOST_MODE=localhost

#DATABASE_URL=sqlite:database.sqlite
DATABASE_URL=postgres://postgres:123@localhost:5400/perpus
HASH_DRIVER=argon2id
ARGON2_MEMORY=4096
ARGON2_TIME=3
ARGON2_THREADS=1

FILE_DRIVER=sha3_256
JWT_EXPIRED=
JWT_MAXAGE=